body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.test-div
{
  width: 100px;
  height: 100px;
  display: none;
  position: absolute;
}

.singleNameDiv
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 5px 0;
}

.singleNameDiv > span
{
  padding: 3px 5px;
}

.singleNameDiv > span:last-child
{
  cursor: pointer;
}

.house-table td
{
  text-align: center;
  padding: 3px;
}
.house-table th
{
  padding: 0 10px;
  background-color: lightgrey;
}